{% extends "base.html" %}

{% block context %}
    {% for post in post_list %}
        <div class="col-md-6 col-sm-6">
                <article class=" blog-teaser post-{{ post.pk }}">
                    <header>
                        <img src="{{ url_for('static',filename='img/1.jpg') }}" alt="">
                        <h3><a href="{{ url_for('main.detail',pk=post.id) }}">{{ post.title }}</a></h3>
                        <span class="meta"> {{ post.create_time }}, by -----------------</span>
                        <hr>
                    </header>
                </article>
        </div>
    {% endfor %}
{% endblock %}

{% block aside %}
    <div class="aside-widget">
        <header>
            <h3>Featured Post</h3>
        </header>
        <div class="body">
            <ul class="clean-list">
                {% for post in post_list %}
                <article class=" blog-teaser post-{{ post.pk }}">
                    <li><a href="{{ url_for('main.detail',pk=post.id) }}">{{ post.title }}</a></li>
                    {% else %}
                    <div class="no-post">暂时没有发布的文章</div>
                </article>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="aside-widget">
        <header>
            <h3>相关文章</h3>
        </header>
        <div class="body">

        </div>
    </div>
    <div class="aside-widget">
        <header>
            <h3>分类</h3>
        </header>
        <div class="body">
            <ul class="clean-list">
                {% for category in category_list %}
                    <li><a href="{{ url_for('main.category',pk=category.id) }}">{{ category.name }}</a></li>
                {% else %}
                    <li class="no-post">没有相关的分类</li>
                {% endfor %}
             </ul>
        </div>
    </div>
    <div class="aside-widget">
        <header>
            <h3>标签云</h3>
        </header>
        <div class="body clearfix">
            <ul class="tags">
                <li><a href="#">HTML5</a></li>
                <li><a href="#">CSS3</a></li>
                <li><a href="#">COMPONENTS</a></li>
                <li><a href="#">TEMPLATE</a></li>
             </ul>
        </div>
    </div>
{% endblock %}